*{
    margin: 0;
    padding: 0;
}


header {
    background-color: #6d3a8f;
    color: white;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho {
    background-color: #d57be7;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#864b92, #4c236d);
    color: white;
    display: flex;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.escola{
    background-image: linear-gradient(#873aa5,#641791);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
